@charset "UTF-8";

html, body{
    background: #292525;  
    font: 15px Calibri, Verdana;
}

/*Nav Box configurations: */
.navigationBox {
    height: 100%; 
    width: 250px; 
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: #4d0b61; 
    overflow-x: hidden;
    padding-top: 60px;
}

.positionOfFonts{

    position: relative;
    top: 30%;
    padding-left: 35%;
}

.navFonts{

    font: 20px Arial, sans-serif;
    color: #ffffff;
}

.anchor{

    text-decoration: inherit;
    color: inherit;
}


/*Main Page Image Settings: */

.text-col {
   font: 20px Arial, sans-serif;
   color: #ffffff;

}

.aboutMeContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 400px;

}

/*you can specifically control elements within another class to confirm to what we want.*/
.aboutMeContainer > div {
    flex-basis: 35%;
}
